<div class="h-20 sm:h-28 lg:h-32 p-2.5 text-main-600">
  <div class="h-full flex flex-col justify-between">
    <div class="grow flex flex-col gap-y-1 overflow-hidden">
      <div class="text-sm"><%= header %></div>
      <%= render V2::IconComponent.new("v2/calendar.svg", size: :lg, rounded: false, classes: "mt-1 ") %>
    </div>
  </div>
</div>
