<div class="h-20 sm:h-28 lg:h-32 p-2">
  <div class="h-full flex flex-col justify-between">

    <div class="grow flex flex-col gap-y-2 p-0.5 sm:p-1.5 overflow-hidden">
      <div class="text-sm"><%= header %></div>
      <div class="heading-2"><%= title || "–" %></div>
    </div>

    <div class="flex justify-between items-end p-0.5 sm:p-1.5">
      <% if status.present? %>
        <%= render V2::StatusIndicatorPillComponent.new(**status) %>
      <% end %>
      <div class="flex justify-self-end text-sm text-main-500"><%= footer %></div>
    </div>
  </div>
</div>
