<div class="text-center px-4">
  <%= render V2::IconComponent.new("v2/package_check.svg", size: :xl_3) %>
  <h2 class="text-lg font-semibold text-main dark:text-white">Nothing else to configure</h2>
  <div class="my-2 text-sm text-neutral-500">
    This integration category does not require any further configuration or setup.
  </div>
</div>
