<% if app.firebase_connected? %>
  <% f.with_section(heading: "Select Firebase Apps") do |section| %>
    <% section.with_description do %>
      Apps against your connected Firebase project.
      <%= image_tag "integrations/logo_firebase.png", title: "Firebase", width: 24, class: "py-2" %>
    <% end %>

    <% if firebase_android_apps.present? %>
      <div class="mb-4">
        <%= section.F.labeled_select :firebase_android_config,
                                     "Android App",
                                     options_for_select(
                                       display_channels(firebase_android_apps) { |app| "#{app[:display_name]} #{app[:app_id]}" },
                                       config.firebase_android_config.to_json
                                     ) %>
      </div>
    <% end %>

    <% if firebase_ios_apps.present? %>
      <div>
        <%= section.F.labeled_select :firebase_ios_config,
                                     "iOS App",
                                     options_for_select(
                                       display_channels(firebase_ios_apps) { |app| "#{app[:display_name]} #{app[:app_id]}" },
                                       config.firebase_ios_config.to_json
                                     ) %>
      </div>
    <% end %>
  <% end %>
<% end %>
