<div data-text-applier-target="container" class="mb-2">
  <%= render AlertComponent.new(kind: :announcement, type: :info, title: title, full_screen: false) do |alert| %>
    <div class="text-sm">
      Your previously entered <%= field_name %> could not be saved because they exceed the allowed length or include
      unsupported characters. Click "Apply draft" to restore your input, then adjust the text before saving.
    </div>
    <% alert.with_announcement_button(label: "Apply draft",
                                      scheme: :light,
                                      type: :action,
                                      size: :xxs,
                                      html_options: {data: {action: "click->text-applier#apply"}}) %>
  <% end %>
</div>
