<div class="grid grid-cols-2 w-full mt-6" data-controller="reveal" data-reveal-toggle-keys-value="c">
  <div class="col-span-1">
    <div class="text-xs font-semibold uppercase text-slate-500 bg-slate-50 border-t border-b border-slate-200 px-2 py-3">
      <div class="font-semibold text-left">commits (<%= commit_count %>)</div>
    </div>
  </div>

  <div class="col-span-1 text-xs font-semibold uppercase text-slate-500 bg-slate-50 border-t border-b border-slate-200">
    <div class="flex flex-col items-end h-full">
      <div class="flex flex-row items-center flex-grow px-2">
        <button class="text-slate-500 transform" data-action="reveal#toggle">
          <div class="flex items-baseline truncate">
            <span hidden data-reveal><%= inline_svg("caret.svg", classname: "w-2.5 h-2.5 shrink-0 fill-current text-slate-500 rotate-0") %></span>
            <span data-reveal><%= inline_svg("caret.svg", classname: "w-2.5 h-2.5 shrink-0 fill-current text-slate-500 rotate-180") %></span>
          </div>
        </button>
      </div>
    </div>
  </div>

  <div data-reveal class="col-span-2">
    <% commits.each_with_index do |commit, index| %>
      <%= render LiveRelease::Commits::DetailComponent.new(commit, commit_number(index)) %>
    <% end %>
  </div>
</div>
