<% if @integration.fully_connected? %>
  <table>
    <thead>
    <tr>
      <th>Active Repo</th>
      <th>Working Branch</th>
    </tr>
    </thead>
    <tbody>

    <tr>
      <td><%= @integration.active_code_repo %></td>
      <td><%= @integration.working_branch %></td>
    </tr>
    </tbody>
  </table>
<% end %>
