previews:
  generation: automatic
  expireAfterDays: 3

databases:
  - name: site-db
    plan: pro-8gb
    previewPlan: basic-256mb
    databaseName: tramline_site_production
    user: tramline
    postgresMajorVersion: "14"

services:
  - type: web
    plan: free
    name: site-web
    runtime: ruby
    buildCommand: ./bin/render.build
    startCommand: "bundle exec puma -C config/puma.rb"
    autoDeploy: false
    envVars:
      - key: HOSTNAME
        fromService:
          type: web
          name: site-web
          property: host
      - key: ARTIFACT_BUILDS_BUCKET_NAME
        value: artifacts-build-prod
      - key: DATABASE_URL
        fromDatabase:
          name: site-db
          property: connectionString
      - key: SIDEKIQ_REDIS_URL
        fromService:
          type: redis
          name: site-redis
          property: connectionString
      - key: DEFAULT_REDIS_URL
        fromService:
          type: redis
          name: site-redis
          property: connectionString
      - key: RAILS_MASTER_KEY
        sync: false

  - type: worker
    name: site-jobs
    runtime: ruby
    buildCommand: bundle install
    startCommand: bundle exec sidekiq
    autoDeploy: false
    envVars:
      - key: HOSTNAME
        fromService:
          type: web
          name: site-web
          property: host
      - key: ARTIFACT_BUILDS_BUCKET_NAME
        value: artifacts-build-prod
      - key: DATABASE_URL
        fromDatabase:
          name: site-db
          property: connectionString
      - key: SIDEKIQ_REDIS_URL
        fromService:
          type: redis
          name: site-redis
          property: connectionString
      - key: DEFAULT_REDIS_URL
        fromService:
          type: redis
          name: site-redis
          property: connectionString
      - key: RAILS_MASTER_KEY
        sync: false
      - key: RAILS_ENV
        value: production
        previewValue: preview

  #  - type: web
  #    name: applelink
  #    env: ruby
  #    plan: free
  #    repo: https://github.com/tramlinehq/applelink.git
  #    buildCommand: bundle install
  #    startCommand: ./bin/prod
  #    autoDeploy: false
  #    branch: main

  - type: redis
    plan: starter
    name: site-redis
    ipAllowList:
      - source: 0.0.0.0/0
        description: everywhere
