<div class="space-y-6 flex flex-col">
  <%= render MetricCardComponent.new(name: "Build Metadata", values: metrics) %>
  <%= render TableComponent.new(columns: %w[name value]) do |table| %>
    <% text_values.each do |metadata| %>
      <% table.with_row do |row| %>
        <% row.with_cell do %>
          <%= metadata.name %>
        <% end %>
        <% row.with_cell do %>
          <%= metadata.value %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
</div>
