<div class="relative" data-controller="reveal" data-reveal-away-value="true">
  <button data-action="reveal#toggle"
          aria-haspopup="true"
          class="btn justify-between min-w-40 bg-white border-slate-200 hover:border-slate-300 text-slate-500 hover:text-slate-600">
    <span class="flex items-center">
      <%= icon if icon? %>
      <%= main_text if main_text? %>
    </span>

    <svg class="shrink-0 ml-1 fill-current text-slate-400" width="11" height="7" viewBox="0 0 11 7">
      <path d="M5.4 6.8L0 1.4 1.4 0l4 4 4-4 1.4 1.4z"/>
    </svg>
  </button>

  <div hidden
       data-reveal
       data-transition
       class="z-10 absolute top-full right-0 w-full bg-white border border-slate-200 rounded shadow-lg overflow-hidden">
    <div class="font-medium text-sm text-slate-600">
      <%= menu %>
    </div>
  </div>
</div>
