<div class="rounded-lg border-slate-200 border flex flex-col p-4">
  <div class="flex flex-row justify-between">
    <h1 class="heading-4">
      <%= name %>
    </h1>
  </div>
  <div class="grid grid-cols-2 divide-x mt-2 place-content-between">
    <div class="flex flex-col py-2 first:px-0 px-3">
      <div class="text-xs text-main-400 uppercase">%</div>
      <div class="text-xl text-main-400">N/A</div>
    </div>
  </div>
</div>
