<div class="flex flex-col border-default box-padding gap-y-4">
  <div class="flex flex-row items-center justify-between">
    <h1 class="heading-5 uppercase">
      <%= name %>
    </h1>
    <%= render corner_icon if corner_icon %>
  </div>
  <div class="grid grid-cols-2 divide-x place-content-between">
    <div class="flex flex-col py-1 first:px-0 px-3 gap-y-1">
      <div class="text-xs text-main-400 uppercase">%</div>
      <div class="<%= text_size %> text-main-400">N/A</div>
    </div>
  </div>
</div>
