<%= render IconComponent.new("info.svg", size: :md, classes: "text-secondary") do |icon| %>
  <% icon.with_tooltip(nil, placement: "top", type: :detailed) do |tooltip| %>
    <% tooltip.with_detailed_text do %>
      <div class="flex flex-col gap-y-4 items-start">
        <%= content %>
      </div>
    <% end %>
  <% end %>
<% end %>
