<dl class="overflow-hidden bg-white border border-slate-100 shadow-sm sm:rounded-lg">
  <% descriptions.each_with_index do |desc, idx| %>
    <div class="<%= bg_color(idx) %> px-4 py-3 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
      <%= desc %>
    </div>
  <% end %>
</dl>
