<header class="bg-white dark:bg-main-900 border-b border-gray-200 dark:border-gray-700">
  <div class="px-4 py-3">
    <a href="/mobile/releases" class="flex items-center">
      <%= inline_svg("tramline.svg", classname: "w-8 h-8") %>
      <span class="ml-2 text-lg font-semibold text-gray-900 dark:text-white">Tramline</span>
    </a>
  </div>
</header>
