<header class="bg-white dark:bg-main-900 border-b border-gray-200 dark:border-gray-700">
  <div class="px-4 py-3">
    <a href="/mobile/releases" class="flex items-center">
      <%= inline_svg("tramline.svg", classname: "inline-flex w-12") %>
    </a>
  </div>
</header>
