<% breadcrumb %>

<div class="sm:flex sm:justify-between sm:items-center border-b border-slate-200 pb-8 mb-8">
  <!-- Left: Title -->
  <div>
    <h1 class="text-2xl md:text-3xl text-slate-800 font-bold"><%= page_title %></h1>
    <% if subtitle.present? %>
      <span class="text-sm text-slate-400"><%= subtitle %></span>
    <% end %>
  </div>

  <!-- Right: Actions -->
  <div class="grid grid-flow-col sm:auto-cols-max justify-start sm:justify-end gap-2">
    <% actions.each do |action| %>
      <%= action %>
    <% end %>
  </div>
</div>

<section>
  <%= content %>
</section>
