<div class="sm:flex sm:justify-between sm:items-center my-8">
  <div class="text-sm justify-center">
    <%== pagy_nav(results, link_extra: "data-turbo-frame='#{turbo_frame}'") %>
  </div>

  <div class="text-sm justify-center text-slate-500">
    <%== pagy_info(results) if info? %>
  </div>
</div>
