<%= render PlatformViewComponent.new(release, occupy:, detail: false) do |platform| %>
  <% if store_versions? %>
    <% platform.runs do |run| %>
      <div class="grid gap-2">
        <%= render partial: "shared/store_versions",
                   locals: { production_releases: run.production_releases, show_build:, view_context: } %>
      </div>
    <% end %>
  <% end %>

  <% platform.runs do |run| %>
    <% breakdown = platform_breakdown(run) %>
    <div>
      <%= render HorizontalDataSetComponent.new do |component| %>
        <% component.with_data_set(title: "Time spent stabilizing").with_content(duration_in_words(breakdown.stability_duration)) %>
        <% component.with_data_set(title: "Internal builds").with_content(breakdown.internal_builds_count) %>
        <% component.with_data_set(title: "Release candidates").with_content(breakdown.release_candidates_count) %>
      <% end %>
    </div>
  <% end %>

  <% if show_monitoring %>
    <% platform.runs do |run| %>
      <div>
        <% if run.production_store_rollouts.exists? %>
          <%= render ReleaseMonitoringComponent.new(
            store_rollout: run.production_store_rollouts.last,
            metrics: [:stability, :adoption_rate, :staged_rollout],
            size: monitoring_size,
            num_events: 1) %>
        <% end %>
      </div>
    <% end %>
  <% end %>
<% end %>
