<%= render StatCardComponent.new(name, size:, external_url:, external_url_title: "Go to dashboard") do |stat| %>
  <% stat.with_icon("integrations/logo_#{provider.to_s}.png", size: :md, rounded: false) %>

  <div class="flex flex-row justify-between items-end">
    <div class="text-base"><%= current %>%</div>
    <div class="text-xs text-secondary-50"><%= subtitle %></div>
  </div>

  <%= render V2::ProgressBarComponent.new(percent: current, label: false) %>
<% end %>
