<% if release_data.present? %>
  <article>
    <div class="font-bold text-xl">Release Health</div>

    <div class="grid grid-cols-2 gap-5 mt-4">
      <%= render ProgressCardComponent.new(name: "Staged Rollout",
                                           current: staged_rollout_percentage,
                                           subtitle: staged_rollout_text,
                                           source: store_source) %>
      <%= render ProgressCardComponent.new(name: "Adoption Rate",
                                           current: adoption_rate,
                                           subtitle: "Last 24 hours",
                                           source: monitoring_source) %>
      <%= render MetricCardComponent.new(name: "Crash-free Rate",
                                         values: { "sessions" => session_stability, "users" => user_stability },
                                         source: monitoring_source) %>
      <%= render MetricCardComponent.new(name: "Errors",
                                         values: { "total" => errors, "new" => new_errors },
                                         source: monitoring_source) %>
    </div>
  </article>
<% end %>
