<div>
  <% if heading %>
    <header class="mb-6">
      <%= heading %>
    </header>
  <% end %>
  <% if rows.present? %>
    <div class="border-t border-slate-100 overflow-x-auto">
      <table class="table-auto w-full">
        <thead class="text-xs uppercase text-slate-400 bg-slate-50 rounded-sm">
        <tr>
          <% columns.each do |column| %>
            <th class="p-2 whitespace-nowrap">
              <div class="font-semibold text-left"><%= column %></div>
            </th>
          <% end %>
        </tr>
        </thead>
        <tbody class="text-sm divide-y divide-slate-100">
        <% rows.each do |row| %>
          <%= row %>
        <% end %>
        </tbody>
      </table>
    </div>
  <% end %>
</div>
