<ol class="relative border-s border-main-200 dark:border-main-700">
  <% events.each do |event| %>
    <li class="mb-2 last:mb-0 ms-4">
      <div class="absolute w-3 h-3 <%= event_color(event) %> rounded-full mt-1.5 -start-1.5 border"></div>
      <time class="mb-1 text-xs font-normal leading-none text-main-400 dark:text-main-500"><%= event[:timestamp] %></time>
      <h5 class="heading-5"><%= event[:title] %></h5>
      <p class="text-xs font-normal text-main-500 dark:text-main-400"><%= event[:description] %></p>
    </li>
  <% end %>
</ol>
