<article>
  <div class="text-xl text-slate-600 font-medium mt-2">Compact Build Notes</div>
  <div class="text-sm mt-1 mb-6">
    Compact the build notes by picking only the first line of commit messages.<br/>By default, the entire commit message is used.
  </div>
  <section data-controller="toggle-switch"
           data-toggle-switch-on-label-value="Compact Build Notes enabled"
           data-toggle-switch-off-label-value="Compact Build Notes disabled">

    <div class="flex items-center">
      <div class="form-switch">
        <%= form.check_box :compact_build_notes,
                           { id: "compact-build-notes-switch",
                             class: "sr-only",
                             data: { action: "toggle-switch#change",
                                     toggle_switch_target: "checkbox" } },
                           "true", "false" %>
        <label class="bg-slate-400" for="compact-build-notes-switch">
          <span class="bg-white shadow-sm" aria-hidden="true"></span>
          <span class="sr-only">Switch label</span>
        </label>
      </div>

      <div class="text-sm text-slate-600 ml-2" data-toggle-switch-target="output"></div>
    </div>
  </section>
  <div class="border-t border-dashed border-slate-200 pb-8 mt-8"></div>
</article>
