<section data-controller="toggle-switch"
         data-toggle-switch-on-label-value="Manual Release enabled"
         data-toggle-switch-off-label-value="Manual Release disabled">

  <div class="flex items-center">
    <div class="form-switch">
      <%= form.check_box :manual_release,
                         { id: "manual-release-switch",
                           class: "sr-only",
                           data: { action: "toggle-switch#change",
                                   toggle_switch_target: "checkbox" } },
                         "true", "false" %>
      <label class="bg-slate-400" for="manual-release-switch">
        <span class="bg-white shadow-sm" aria-hidden="true"></span>
        <span class="sr-only">Switch label</span>
      </label>
    </div>

    <div class="text-sm text-slate-600 ml-2" data-toggle-switch-target="output"></div>
  </div>
</section>
