<% if train.active_runs.exists? %>
  <div class="flex items-center">
    <div class="pl-2">
      <button disabled="disabled" class="btn bg-indigo-500 hover:bg-indigo-600 text-white disabled:border-slate-200 disabled:bg-slate-100 disabled:text-slate-400 disabled:cursor-not-allowed shadow-none">
        <%= inline_svg("create_plus.svg", classname: "w-4 fill-current opacity-50 shrink-0") %>
        <span class="ml-2">Add a review step</span>
      </button>
    </div>
  </div>
<% else %>
  <%= authz_link_to step_color(kind).to_sym, new_app_train_platform_step_path(train.app, train, release_platform, kind: kind) do %>
    <%= inline_svg("create_plus.svg", classname: "w-4 fill-current opacity-50 shrink-0") %>
    <span class="ml-2">Add a <%= kind %> step</span>
  <% end %>
<% end %>
