<%= render Form::SwitchComponent.new(form:,
                                     field_name: :notifications_enabled,
                                     on_label: "Notifications enabled",
                                     off_label: "Notifications disabled") do |component| %>
  <% component.with_child do %>
    <div class="mb-2">
      <%= render Form::SwitchComponent.new(form:, field_name: :notifications_release_specific_channel_enabled,
                                           hide_child: false,
                                           on_label: "Send notifications to release specific channel",
                                           off_label: "Send notifications to default channel") do |component1| %>

        <%
          platform = @app.cross_platform? ? "" : "-#{@app.platform}"
          channel_pattern = "#release-#{@app.name}#{platform}-{version}".downcase

          component1.with_info_icon do
        %>

          Release-specific channels are of the form <%= channel_pattern %>.
        <% end %>
      <% end %>
    </div>

    <%= render partial: "shared/notifications_form",
               locals: {form:, app: @app, channels: @notification_channels, current: @current_notification_channel} %>
  <% end %>
<% end %>
