<% if @unconfigured %>
  <%= render V2::EmptyStateComponent.new(title: "Release health rules are unavailable",
                                         text: "Release health can only be configured when you have a Monitoring Integration setup for your app.",
                                         banner_image: "art/no_releases.png") do %>
    <div>
      <%= render V2::ButtonComponent.new(scheme: :default,
                                         type: :link,
                                         label: "Configure Monitoring",
                                         options: app_integrations_path(app),
                                         size: :xxs) do |b| %>
        <% b.with_icon("v2/cog.svg", size: :md) %>
      <% end %>
    </div>
  <% end %>
<% else %>
  <% train.release_platforms.each do |release_platform| %>
    <%= render V2::ReleaseHealthRuleListComponent.new(release_platform:) %>
  <% end %>
<% end %>
