<p class="text-sm">
  You need to add at least one step to activate this train.
</p>

<%= authz_link_to :blue, new_app_train_step_path(app, train, kind: Releases::Step.kinds[:review]), class: "mt-4" do %>
  <%= inline_svg("create_plus.svg", classname: "w-4 fill-current opacity-50 shrink-0") %>
  <span class="hidden xs:block ml-2">Add a review step</span>
<% end %>

<%= authz_link_to :green, new_app_train_step_path(app, train, kind: Releases::Step.kinds[:release]), class: "mt-4" do %>
  <%= inline_svg("create_plus.svg", classname: "w-4 fill-current opacity-50 shrink-0") %>
  <span class="hidden xs:block ml-2">Add a release step</span>
<% end %>
