<div class="text-xl text-slate-600 font-medium mt-6 mb-4">Versioning Strategy</div>

<div>
  <%= form.label "Strategy", class: "block text-sm font-medium mb-1" %>
  <%= form.select :versioning_strategy,
                  options_for_select(Train.versioning_strategies.invert, train.versioning_strategy),
                  { required: true, },
                  { class: text_field_classes(is_disabled: train.persisted?),
                    disabled: train.persisted? } %>
</div>
