KAMAL_REGISTRY_USERNAME=tramlinehq
KAMAL_REGISTRY_PASSWORD=$KAMAL_REGISTRY_PASSWORD

RAILS_MASTER_KEY=$(cat config/credentials/production.key)

POSTGRES_USER=tramline
POSTGRES_PASSWORD=tramline_test_pw
POSTGRES_DB=tramline_test

DATABASE_URL=postgresql://tramline:tramline_test_pw@tramline-db:5432/tramline_test
REDIS_URL=redis://tramline-redis-cache:6379/0
DEFAULT_REDIS_URL=redis://tramline-redis-cache:6379/0
SESSION_REDIS_URL=redis://tramline-redis-cache:6379/1
SIDEKIQ_REDIS_URL=redis://tramline-redis-sidekiq:6379/0

HOST_NAME=tramline.site
DESCOPE_PROJECT_ID=dummy
DESCOPE_MANAGEMENT_KEY=dummy
APPLELINK_URL=http://tramline-applelink:4000
SENTRY_DSN=dummy
FRONTEND_SENTRY_DSN=dummy
SENTRY_SECURITY_HEADER_ENDPOINT=dummy
ARTIFACT_BUILDS_BUCKET_NAME=dummy
APP_REDIRECT_MAPPING_JSON={}
X_MONITOR_ALLOWED=test
DISALLOWED_SIGN_UP_DOMAINS=
CSP_CONNECT_SRC_URIS=

AUTH_ISSUER=dummy
AUTH_SECRET=dummy
AUTH_AUD=dummy
