<div class="flex gap-4 h-14">
  <div class="basis-3/12 flex items-center">
    <%= form.text_field :name, class: 'form-input w-full' %>
  </div>

  <div class="basis-8/12">
    <%= form.select :member_ids,
      options_for_select(@organization_members,
                         form.object.members.pluck(:id)
                        ),
                        {},
                        { multiple: true, class: 'js-choice' } %>
  </div>

  <div class="basis-1/12  flex items-center justify-center">
    <%= form.check_box '_destroy' %>
  </div>
</div>
