<%= render EnhancedTurboFrameComponent.new(:ci_cd_config) do %>
  <%= render FormComponent.new(model: @teamcity_integration, url: app_teamcity_config_path(@app)) do |f| %>
    <% f.with_section(heading: "Project") do |section| %>
      <% section.with_description do %>
        <p>Select the TeamCity project containing your build configurations</p>
      <% end %>

      <div>
        <%= section.F.labeled_select :project_config,
              "Project",
              options_for_select(
                @ci_cd_projects.map { |p| [p[:name], { id: p[:id], name: p[:name] }.to_json] },
                @project_config&.to_json
              ),
              include_blank: "Select a project" %>
      </div>
    <% end %>

    <% f.with_action do %>
      <%= f.F.authz_submit "Save", "check.svg", size: :xs %>
    <% end %>
  <% end %>
<% end %>
