<div class="flex mt-8 pt-4 border-t border-slate-200 justify-center">
  <span class="text-xs text-slate-400">Copyright <%= Date.current.year %>, <a href="https://tramline.app" class="underline">Tramline Inc.</a></span>
</div>
