<div class="flex mb-8"><%= inline_svg("tramline.svg") %></div>
<h1 class="text-3xl text-slate-800 font-bold mb-6"><%= heading %></h1>

<%= render partial: 'shared/errors' %>
<%= render partial: "shared/flash" %>
