<% if current_organization.demo? %>
  <section>
    <h2 class="text-2xl text-slate-800 font-bold">Release Driver</h2>
    <span class="text-sm text-slate-400">The release driver is rotated every 2 weeks</span>
    <div class="flex mb-2 mt-4">
      <div class="relative inline-flex items-start mr-5">
        <div class="absolute top-0 right-0 -mr-2 bg-white rounded-full shadow" aria-hidden="true"></div>
        <%= image_tag("demo/alicia.jpg", width: 86, class: "rounded-full") %>
      </div>
      <div class="mt-1 pr-1">
        <h2 class="text-xl leading-snug justify-center font-medium">Alisha Acharya</h2>

        <div class="flex items-center text-sm text-slate-500">
          <span class="text-sm text-slate-400">Will be rotated out on <%= Date.today + 5.days %></span>
        </div>
        <div class="mt-1"><%= authz_button_to :blue, "Become Driver", "#0", { class: "btn-xs mb-2" } %></div>
      </div>
    </div>
  </section>
<% end %>
