<p><%= t("invitation.invite_mailer.existing_user.hello", email: @invite.email) %></p>

<p><%= raw t("invitation.invite_mailer.existing_user.someone_invited_you",
             sender: @invite.sender.email,
             invitable: @invite.sender.preferred_name,
             org: @invite.organization.name,
             url: root_url) %></p>

<p><%= t("invitation.invite_mailer.existing_user.ignore", sender: @invite.sender.email) %></p>
