<ol>
  <% step.active_deployments_for(platform_run&.release).each do |deployment| %>
    <li class="last:mb-0 mb-1">
      <div>
        <%= render partial: "shared/deployment", locals: { deployment: deployment } %>

        <% if show_deployment_status %>
          <%= render partial: "shared/live_release/deployment_status",
                     locals: { step_run: step_run, deployment: deployment, platform_run: platform_run } %>
        <% else %>
          <% if deployment.staged_rollout? %>
            <div class="my-4 pt-4 ml-6 border-t border-dashed w-1/2">
              <%= render StagedRollout::ConfigComponent.new(config: deployment.staged_rollout_config) %>
            </div>
          <% end %>
        <% end %>
      </div>
    </li>
  <% end %>
</ol>
