<ol>
  <% step.deployments.each do |deployment| %>
    <li class="last:mb-0 mb-1">
      <div>
        <%= render partial: "shared/deployment", locals: { deployment: deployment } %>

        <% if release.present? %>
          <%= render partial: "releases/live_release/deployment_status",
                     locals: { step_run: step_run, deployment: deployment, release: release } %>
        <% else %>
          <% if deployment.staged_rollout? %>
            <div class="my-4 pt-4 border-t border-dashed">
              <%= render StagedRollout::ConfigComponent.new(config: deployment.staged_rollout_config) %>
            </div>
          <% end %>
        <% end %>
      </div>
    </li>
  <% end %>
</ol>
