<% step.deployments.each do |deployment| %>
  <div class="pt-1 flex items-center text-slate-500">
    <span class="mr-2 font-mono">
      <%= deployment.deployment_number %>
      <%= image_tag("arrow-right.svg", width: 16, class: "inline-flex") %>
    </span>

    <%= render partial: "shared/deployment", locals: { deployment: deployment } %>
  </div>
<% end %>
