<ol>
  <% step.deployments.each do |deployment| %>
    <li class="last:mb-0 mb-1">
      <div>
        <%= render partial: "shared/deployment", locals: { deployment: deployment } %>
        <%= render partial: "releases/live_release/deployment_status",
                   locals: { step_run: step_run, deployment: deployment, release: release } if show_deployment_status %>
      </div>
    </li>
  <% end %>
</ol>
