<div class="inline-flex align-text-top">
  <span class="pr-2 align-bottom"><%= image_tag("integrations/logo_#{provider_name}.png", width: 18) %></span>
  <span class="text-sm pr-1"><%= name %></span>
  <span class="text-sm pl-1 font-mono"> • <%= channel %></span>
</div>
