<div class="inline-flex align-text-top">
  <span class="pr-2 align-bottom"><%= image_tag("integrations/logo_#{provider_name}.png", width: 18) %></span>
  <span class="text-sm"><%= name %></span>
</div>
