<div class="relative bg-indigo-200 rounded-sm p-5 w-1/4">
  <div class="relative">
    <div class="absolute bottom-0 -mb-12">
      <svg width="44" height="42" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <defs>
          <linearGradient x1="50%" y1="0%" x2="50%" y2="100%" id="ill-b">
            <stop stop-color="#A5B4FC" offset="0%" />
            <stop stop-color="#818CF8" offset="100%" />
          </linearGradient>
          <linearGradient x1="50%" y1="24.537%" x2="50%" y2="100%" id="ill-c">
            <stop stop-color="#4338CA" offset="0%" />
            <stop stop-color="#6366F1" stop-opacity="0" offset="100%" />
          </linearGradient>
          <path id="ill-a" d="m20 0 20 40-20-6.25L0 40z" />
        </defs>
        <g transform="scale(-1 1) rotate(-51 -11.267 67.017)" fill="none" fill-rule="evenodd">
          <mask id="ill-d" fill="#fff">
            <use xlink:href="#ill-a" />
          </mask>
          <use fill="url(#ill-b)" xlink:href="#ill-a" />
          <path fill="url(#ill-c)" mask="url(#ill-d)" d="M20.586-7.913h25v47.5h-25z" />
        </g>
      </svg>
    </div>
    <div class="text-sm text-slate-800 mb-2">
      <p>Your app on the Google Play Store is currently in a draft state.</p>
      <p class="mt-2">Tramline cannot release your app to the store for your very first release.</p>
      <p class="mt-2">You must complete your publishing overview details on the Developer Console if you haven't yet.</p>
      <p class="mt-2">Additionally, you have to make at least one manual release on a public track (open testing, closed testing, production) before starting a release on Tramline.</p>
      <p class="mt-2">Meanwhile, you can still finish your Tramline setup all the way through 🚀</p>
      <p class="mt-2 pb-2">Good luck!</p>
    </div>
  </div>
</div>
