<% if app.draft? %>
  <article class="mb-10">
    <div class="max-w-sm p-6 bg-white border border-main-200 rounded-lg shadow dark:bg-main dark:border-main-700">
      <%= render V2::IconComponent.new("clock.svg", size: :xl_3, classes: "handle cursor-grabbing") %>
      <h5 class="mb-2 heading-2">App in Draft mode</h5>
      <p class="mb-3 font-normal text-secondary dark:text-secondary-50">
        Your app on the <strong>Google Play Store</strong> is currently in a
        draft state.
      </p>
      <p class="mb-3 font-normal text-secondary dark:text-secondary-50">
        Tramline cannot release your app to the store for your very first release.
      </p>
      <p class="mb-3 font-normal text-secondary dark:text-secondary-50">
        Make at least one manual release on a public track (open testing,
        closed testing, production) before starting a release on Tramline.
      </p>
      <p class="mb-3 font-normal text-secondary dark:text-secondary-50">
        Meanwhile, you can still finish your Tramline setup all the way through 🚀
      </p>
      <p class="mb-6 font-normal text-secondary dark:text-secondary-50">Good luck!</p>
      <%= link_to_external "Publish a draft app ↗",
                           "https://support.google.com/googleplay/android-developer/answer/9859751?hl=en",
                           class: "text-blue-600 hover:underline", title: "Publish a draft app" %>
    </div>
  </article>
<% end %>
