<ul class="mt-6 mb-4">
  <% events.each do |passport| %>
    <li>
      <a href="#" class="items-center block p-3 sm:flex hover:bg-gray-100">
        <%= image_tag("demo/alicia.jpg", width: 86, class: "w-12 h-12 mb-3 mr-3 rounded-full sm:mb-0") %>
        <div class="text-gray-600">
          <div class="text-base font-normal">
            <span class="font-medium text-gray-900"><%= raw passport.message %></span>
          </div>
          <span class="inline-flex items-center text-xs font-normal text-gray-500">
              <%= image_tag("#{passport_icon(passport)}.svg", width: 20, class: "inline-flex") %>
            <%= time_format(passport.event_timestamp) %>
            </span>
        </div>
      </a>
    </li>
  <% end %>
</ul>
