<div class="space-y-6 flex flex-col">
  <% values = external_build.metadata.filter { |k, metadata| metadata["type"] == "number" }.to_h { |k, metadata| [metadata["name"], { value: metadata["value"] }] } %>
  <div class="w-fit"><%= render MetricCardComponent.new(name: "Build Metadata", values: values) %></div>
  <%= render TableComponent.new(columns: %w[name value]) do |table| %>
    <% external_build.metadata.reject { |k, metadata| metadata["type"] == "number" }.each do |k, metadata| %>
      <% table.with_row do |row| %>
        <% row.with_cell do %>
          <%= metadata["name"] %>
        <% end %>
        <% row.with_cell do %>
          <%= metadata["value"] %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
</div>
