<%
  format = {
    error: "bg-rose-100 border border-rose-200 text-rose-600",
    alert: "bg-rose-100 border border-rose-200 text-rose-600",
    notice: "bg-indigo-100 border border-indigo-200 text-indigo-500"
  }.with_indifferent_access
%>

<div data-controller="alert">
  <% flash.select { |_, msg| msg.is_a?(String) }.each do |name, msg| %>
    <div class="inline-flex min-w-80 px-4 py-2 mb-6 rounded-sm text-sm <%= format[name] %>" data-alert-target="alert">
      <div class="flex w-full justify-between items-start">
        <div class="flex">
          <%= inline_svg("info_icon.svg", classname: "w-4 h-4 shrink-0 fill-current opacity-80 mt-[3px] mr-3") %>
          <%= content_tag :div, msg, :id => "flash_#{name}" %>
        </div>

        <button class="opacity-70 hover:opacity-80 ml-3 mt-[3px]" data-action="alert#close">
          <div class="sr-only">Close</div>
          <%= inline_svg("close_icon.svg", classname: "w-4 h-4 fill-current") %>
        </button>
      </div>
    </div>
  <% end %>
</div>
