<footer class="mt-auto m-4">
  <hr class="my-6 border-main-200 dark:border-main-700" />
  <span class="block text-xs text-secondary-50 text-center dark:text-main-300 mb-2">
    Ver. <code><%= current_deploy[:ref] %></code> • Updated <%= current_deploy[:ago] %>
  </span>
</footer>
