<footer class="mt-auto m-4 ">
  <span class="block text-xs text-secondary-50 text-center dark:text-main-300">
    Ver. <code><%= current_deploy[:ref] %></code> • Updated <%= current_deploy[:ago] %>
  </span>
</footer>
