<footer class="mt-auto m-4 ">
  <span class="block text-xs text-secondary-50 text-center dark:text-main-300">
    Ver. <code><%= current_deploy[:ref] %></code> • Updated <%= current_deploy[:ago] %>
  </span>
  <span class="block text-xs text-secondary-50 text-center dark:text-main-300 mt-1">
    Need help? Email <a href="mailto:support@tramline.app" class="underline">support@tramline.app</a> or <%= link_to_external "raise a discussion", "https://github.com/tramlinehq/tramline/discussions", class: "underline" %>
  </span>
</footer>
