<div class="flex flex-wrap items-center -m-1.5 invisible" data-visibility-target="visible">
  <div class="m-1.5">
    <!-- Modal backdrop -->
    <div class="fixed inset-0 bg-slate-900 bg-opacity-30 z-50 transition-opacity" aria-hidden="true"></div>
    <!-- Modal dialog -->
    <div
      id="basic-modal"
      class="fixed inset-0 z-50 overflow-hidden flex items-center my-4 justify-center transform px-4 sm:px-6"
      role="dialog"
      aria-modal="true">
      <div class="bg-white rounded shadow-lg overflow-auto max-w-lg w-full max-h-full">
        <!-- Modal header -->
        <div class="px-5 py-3 border-b border-slate-200">
          <div class="flex justify-between items-center">
            <div class="font-semibold text-slate-800"><%= heading %></div>

            <a class="text-slate-400 hover:cursor-pointer hover:text-slate-500" data-action="visibility#toggle">
              <div class="sr-only">Close</div>
              <%= inline_svg("close_icon.svg", classname: "w-4 h-4 fill-current") %>
            </a>
          </div>
        </div>

        <!-- Modal content -->
        <div class="px-5 pt-4 pb-4">
          <div class="text-sm">
            <div class="space-y-2">
              <%= capture(&block) %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
