<div class="flex flex-wrap items-center -m-1.5 invisible" data-visibility-target="visible">
  <!-- Start -->
  <div class="m-1.5">
    <!-- Modal backdrop -->
    <div class="fixed inset-0 bg-slate-900 bg-opacity-30 z-50 transition-opacity" aria-hidden="true"></div>
    <!-- Modal dialog -->
    <div
      id="basic-modal"
      class="fixed inset-0 z-50 overflow-hidden flex items-center my-4 justify-center transform px-4 sm:px-6"
      role="dialog"
      aria-modal="true">
      <div class="bg-white rounded shadow-lg overflow-auto max-w-lg w-full max-h-full">
        <!-- Modal header -->
        <div class="px-5 py-3 border-b border-slate-200">
          <div class="flex justify-between items-center">
            <div class="font-semibold text-slate-800"><%= heading %></div>
            <button class="text-slate-400 hover:text-slate-500" data-action="visibility#toggle">
              <div class="sr-only">Close</div>
              <svg class="w-4 h-4 fill-current">
                <path d="M7.95 6.536l4.242-4.243a1 1 0 111.415 1.414L9.364 7.95l4.243 4.242a1 1 0 11-1.415 1.415L7.95 9.364l-4.243 4.243a1 1 0 01-1.414-1.415L6.536 7.95 2.293 3.707a1 1 0 011.414-1.414L7.95 6.536z" />
              </svg>
            </button>
          </div>
        </div>

        <!-- Modal content -->
        <div class="px-5 pt-4 pb-1">
          <div class="text-sm">
            <div class="space-y-2">
              <%= capture(&block) %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- End -->
</div>
