<% type ||= :info %>

<div class="flex-col max-w-lg px-4 py-2 rounded-sm text-sm bg-white shadow-lg border border-slate-200 text-slate-600 pt-5 pb-5">
  <div class="flex w-full justify-between items-start">
    <div class="flex">
      <%= inline_svg("info_icon.svg", classname: "w-4 mt-[3px] mr-3 shrink-0 fill-current #{note_box_color(type)}") %>
      <div><%= message %></div>
    </div>
  </div>
</div>
