<div>
  <%= form.labeled_select :notification_channel, "Notification Channel",
                          options_for_select(
                            display_channels(channels) { |chan| "#" + chan[:name] },
                            current.to_json
                          ),
                          {},
                          { data: { controller: "input-select" } } %>

  <%= render partial: "shared/notifications_refresh", locals: { app: app } %>
</div>
