<p class="text-secondary text-sm mt-2">
  To receive notifications in private channels, invite <strong>@Tramline</strong> into your private
  channel and then select it from this list. Refresh your notifications channels from down below, if you can't find them
  in the list.
</p>

<div class="mt-2">
  <%= render ButtonComponent.new(
        label: "Refresh",
        scheme: :light,
        type: :link,
        size: :xxs,
        options: refresh_channels_app_integration_slack_integration_path(app, app.notification_provider.integration, app.notification_provider),
        html_options: {
          method: :post,
          class: "-mx-1",
          data: {
            turbo_method: :post,
            turbo_confirm: "Refreshing notification channels will clear any unsaved changes on this page. Are you sure?"
          }
        }
      ) %>
</div>
