<%= render V2::TooltipComponent.new(tooltip_text, placement: "top") do |tooltip| %>
  <% tooltip.with_body do %>
    <div class="flex items-center gap-2 text-secondary">
      <%= render V2::IconComponent.new("v2/dotted_line.svg", size: :base) %>
      <span class="font-normal text-sm"><%= last_activity_at %></span>
    </div>
  <% end %>
<% end %>
