<div class="px-4 py-2 rounded-sm text-sm bg-indigo-100 border border-indigo-200 text-indigo-500">
  <div class="flex w-full justify-between items-start max-w-7xl mx-auto">
    <div class="flex">
      <div class="font-medium">
        <%= msg %>
      </div>
    </div>
  </div>
</div>
