<div class="relative hidden" data-tooltip-target="tooltip">
  <div class="z-10 absolute right-full top-1/2 -translate-x-1 -translate-y-full">
    <div class="bg-white border border-slate-200 p-2 rounded shadow-lg overflow-hidden ml-2">
      <div class="text-xs whitespace-nowrap"><%= content %></div>
    </div>
  </div>
</div>
