<span class="bg-main-100 text-main text-xs font-medium inline-flex items-center px-1.5 py-0.5 rounded-md dark:bg-main-700 dark:text-secondary-50 border border-slate-200 gap-x-1.5">
  <%= icon if icon? %>
  <% if link? %>
    <%= link %>
  <% else %>
    <%= text %>
  <% end %>
</span>
