<span class="bg-gray-100 text-gray-800 text-xs font-medium inline-flex items-center px-1.5 py-0.5 rounded dark:bg-gray-700 dark:text-gray-400 border border-slate-200 gap-x-1.5">
  <%= image %>
  <%= text %>
</span>
