<% if tooltip_component %>
  <div data-controller="popup" data-popup-away-value="true" data-popup-target-selector-value="[data-tooltip-reveal]">
    <%= render_component %>
    <%= render(tooltip_component) %>
  </div>
<% else %>
  <%= render_component %>
<% end %>

