<ul class="divide-default">
  <% commits.each do |commit| %>
    <li class="py-2 px-3 hover:bg-main-100 hover:border-main-100 hover:first:rounded-sm hover:last:rounded-sm">
      <%= commit %>
    </li>
  <% end %>
</ul>
