<div data-controller="popup" data-popup-away-value="true" data-popup-target-selector-value="[data-dropdown-reveal]">
  <%= button %>
  <div data-dropdown-reveal
       hidden
       class="z-30 w-60 bg-white rounded divide-y divide-gray-100 shadow dark:bg-gray-700 dark:divide-gray-600">
    <% item_groups.each do |group| %>
      <%= group %>
    <% end %>
  </div>
</div>
