<%= content_tag(:div, popup_data_attrs) do %>
  <%= button %>
  <div data-dropdown-reveal
       hidden
       class="z-30 w-52 bg-white shadow-md border border-main-300 rounded divide-y divide-main-100 shadow dark:bg-main-700 dark:divide-main-600">
    <% item_groups.each do |group| %>
      <%= group %>
    <% end %>
  </div>
<% end %>
