<section <%= data_fields %> <% "hidden" if hidden? %>>
  <div class="grid grid-cols-3 xl:space-x-20 space-y-8 xl:space-y-0">
    <div class="col-span-1 mt-6">
      <h3 class="mb-2 font-semibold leading-none text-gray-900 dark:text-white"><%= heading %></h3>
      <p class="mb-4 text-sm font-light text-gray-500 sm:mb-5 dark:text-gray-400">
        <%= description %>
      </p>
    </div>
    <div class="col-span-2 border border-l rounded-lg bg-white dark:bg-gray-700 border-gray-200 dark:border-gray-600 px-6 py-8">
      <%= content %>
    </div>
  </div>
</section>
