<div class="bg-gray-100 border border-gray-300 border-solid rounded-lg flex p-4 justify-between">
  <div class="space-x-2">
    <div class="space-y-2">
      <span class="text-xs font-semibold text-gray-600 uppercase">Duration</span>
      <div class="flex items-center space-x-2">
        <span class="text-gray-500"><svg class="w-4 h-4 text-gray-500" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 21H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v9a2 2 0 0 0 2 2h3l4 4v-3a2 2 0 0 0-2-2z"></path></svg></span>
        <span class="text-sm text-gray-700 font-normal">7 hours</span>
      </div>
    </div>
  </div>

  <div class="border-l border-dashed border-gray-300"></div>

  <div class="space-y-2">
    <span class="text-xs font-semibold text-gray-600 uppercase">RCs generated</span>
    <div class="flex items-center space-x-2">
      <span class="text-gray-500"><svg class="w-4 h-4 text-gray-500" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 21H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v9a2 2 0 0 0 2 2h3l4 4v-3a2 2 0 0 0-2-2z"></path></svg></span>
      <span class="text-sm text-gray-700 font-normal">an hour</span>
    </div>
  </div>

  <div class="border-l border-dashed border-gray-300"></div>

  <div class="space-y-2">
    <span class="text-xs font-semibold text-gray-600 uppercase">IN REVIEW</span>

    <div class="flex items-center space-x-2">
      <span class="text-gray-500"><svg class="w-4 h-4 text-gray-500" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 21H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v9a2 2 0 0 0 2 2h3l4 4v-3a2 2 0 0 0-2-2z"></path></svg></span>
      <span class="text-sm text-gray-700 font-normal">2 hours</span>
    </div>
  </div>

  <div class="">
    <span class="text-xs font-semibold text-gray-600 uppercase">Released</span>
    <span class="text-lg font-semibold text-gray-700 text-right">Wednesday, November 29th</span>
  </div>
</div>
