<div class="card-sm <%= bg_color %> flex justify-items-stretch">
  <div class="space-x-4 flex">
    <% data_sets.each_with_index do |datum_set, i| %>
      <%= datum_set %>

      <% unless last_set?(i) %>
        <div class="<%= separator %>"></div>
      <% end %>
    <% end %>
  </div>
</div>
