<div class="inline-flex w-fit my-6 turbo-frame-loader">
  <div class="px-3 py-1 text-xs font-medium leading-none text-center text-blue-800 bg-blue-200 rounded-full <%= pulse %> dark:bg-blue-900 dark:text-blue-200">
    <%= text %>
  </div>
</div>
