<div data-controller="reveal" data-reveal-away-value="true" data-reveal-target-selector-value="[data-modal-reveal]">
  <%= button %>
  <div data-modal-reveal
       hidden
       aria-hidden="true">
    <div tabindex="-1"
         class="fixed inset-0 z-50 overflow-y-auto overflow-x-hidden flex items-center justify-center transform">
      <div class="relative px-4 w-full max-w-2xl h-full md:h-auto">
        <div class="relative bg-white rounded-lg shadow dark:bg-gray-800">
          <div class="flex justify-between items-center p-5 rounded-t border-b dark:border-gray-700">
            <h3 class="text-xl font-semibold dark:text-white">
              <%= title %>
            </h3>

            <%= render V2::ButtonComponent.new(
              scheme: :naked_icon,
              visual_icon: "v2/close_icon",
              type: :action,
              size: :none,
              html_options: { class: "ms-auto inline-flex justify-center items-center",
                              data: { action: "reveal#hide" } }
            ) %>
          </div>
        </div>
      </div>
    </div>

    <div class="bg-gray-900/50 dark:bg-gray-900/80 fixed inset-0 z-40"></div>
  </div>
</div>
