<%= render V2::PlatformViewComponent.new(release, occupy:) do |platform| %>
  <% platform.runs do |run| %>
    <div class="grid gap-y-2 items-end content-end">
      <%= render partial: "shared/store_versions",
                 locals: {prod_rollouts: run.production_store_rollouts, show_build:, view_context:} %>
    </div>
  <% end %>

  <% platform.runs do |run| %>
    <div>
      <%= render V2::HorizontalDataSetComponent.new do |component| %>
        <% component.with_data_set(title: "Time in review phase").with_content("1") %>
        <% component.with_data_set(title: "Review builds").with_content("2") %>
        <% component.with_data_set(title: "Time in release phase").with_content("3") %>
      <% end %>
    </div>
  <% end %>

  <% if show_monitoring %>
    <% platform.runs do |run| %>
      <div>
        <% if run.production_store_rollouts.exists? %>
          <%= render ReleaseMonitoringComponent.new(
            deployment_run: run.store_submitted_releases.first,
            metrics: [:stability, :adoption_rate, :staged_rollout],
            show_version_info: false,
            size: monitoring_size,
            num_events: 1) %>
        <% end %>
      </div>
    <% end %>
  <% end %>
<% end %>
