<div class="w-full bg-main-200 rounded-full dark:bg-main-700">
  <div class="bg-blue-600 text-xs font-normal text-main-700 dark:text-blue-100 text-center p-1.5 leading-none rounded-full" style="<%= fill %>">
    <%= perc %>
  </div>
</div>
