<div data-controller="tabs"
     data-tabs-inactive-tab-class="inline-block px-3 pt-1.5 pb-2 rounded-t-lg hover:text-main-600 hover:bg-main-50 dark:hover:bg-main-800 dark:hover:text-main-300"
     data-tabs-active-tab-class="inline-block px-3 pt-1.5 pb-2 text-blue-600 bg-main-100 rounded-t-lg active dark:bg-main-800 dark:text-blue-500 shadow-sm shadow-t-2 shadow-r-2 shadow-l-2 shadow-spread-2"
     data-tabs-index-value="0">
  <div class="flex flex-initial items-start justify-start">
    <% if title.present? %>
      <h2 class="heading-2 w-fit border-default-b pb-3 pr-6"><%= title %></h2>
    <% end %>

    <ul class="flex flex-grow items-center text-secondary border-default-b">
      <% tab_headings.each do |tab| %>
        <li>
          <%= render V2::ButtonComponent.new(
            scheme: :none,
            type: :action,
            label: tab[:name],
            authz: false,
            html_options: { data: { action: "click->tabs#change", tabs_target: "tab" }, aria_selected: tab[:selected], aria_controls: "overall-tab" })
          %>
        </li>
      <% end %>
    </ul>
  </div>

  <% tabs.each do |tab| %>
    <div class="hidden mt-3" data-tabs-target="panel">
      <%= tab %>
    </div>
  <% end %>
</div>
