<span class="inline-flex items-center text-xs font-medium px-2.5 py-0.5 rounded-md <%= background %> tracking-wide">
  <span class="w-2 h-2 me-2 rounded-full <%= pill %>"></span>
  <%= text %>
</span>
