<div class="relative overflow-x-auto mb-8">
  <table class="w-full table-auto text-sm text-left rtl:text-right text-secondary dark:text-secondary-50 p-5">
    <% if rows.present? %>
      <thead class="heading-5 uppercase border-default-b">
      <tr>
        <% columns.each do |column| %>
          <th scope="col" class="px-4 pb-3 pt-1.5">
            <%= column %>
          </th>
        <% end %>
      </tr>
      </thead>

      <tbody>
      <% rows.each do |row| %>
        <%= row %>
      <% end %>
      </tbody>
    <% end %>
  </table>
</div>
