<div class="relative overflow-x-auto mb-8">
  <table class="w-full table-auto text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400 mt-3 p-5">
    <% if rows.present? %>
      <thead class="text-xs text-gray-700 uppercase font-semibold tracking-wide dark:text-gray-400 border-b dark:border-gray-700">
      <tr>
        <% columns.each do |column| %>
          <th scope="col" class="px-4 py-3">
            <%= column %>
          </th>
        <% end %>
      </tr>
      </thead>
      <tbody>
      <% rows.each do |row| %>
        <%= row %>
      <% end %>
      </tbody>
    <% end %>
  </table>
</div>
