<div data-tooltip-reveal
     hidden
     role="tooltip"
     class="absolute z-30 px-3 py-2 text-sm font-medium text-white transition-opacity duration-300 bg-main-900 rounded-lg shadow-sm tooltip dark:bg-main-700">
  <%= text %>
</div>
