<div data-reveal
     hidden
     role="tooltip"
     class="absolute z-30 px-3 py-2 text-sm font-medium text-white transition-opacity duration-300 bg-gray-900 rounded-lg shadow-sm tooltip dark:bg-gray-700">
  <%= text %>
</div>
