<div>
  <% if current_user.blank? %>
    <h1>Welcome, stranger.</h1>
  <% else %>
    <h1>Welcome, <%= current_user.preferred_name %>.</h1>

    <h4>Select your destination</h4>

    <% if current_user&.admin? %>
      <%= link_to 'Settings', admin_settings_path %>
    <% else %>
      <%= link_to 'Organizations', accounts_organizations_path %>
    <% end %>
<% end %>
</div>
