<div>
  <% if current_user.blank? %>
    <h2>Welcome, stranger.</h2>
  <% else %>
    <h2>Welcome, <%= current_user.preferred_name.presence || current_user.full_name %>.</h2>

    <p>
      <% if current_user&.admin? %>
        <%= link_to 'Settings', admin_settings_path %>
      <% end %>
    </p>
<% end %>
</div>
