<section>
  <div class="flex justify-between w-full items-center">
    <div>
      <h2 class="text-2xl text-slate-800 font-bold">Release Backmerge</h2>
      <span class="text-sm text-slate-400"><%== backmerge_text(release.train) %></span>
    </div>
    <%= render partial: "shared/live_release/pull_requests", locals: { prs: release.pull_requests.ongoing.open } %>
  </div>
</section>
