<section>
  <div class="flex justify-between">
    <h2 class="font-bold text-2xl">Commits after release kick-off</h2>

    <p class="text-xs text-gray-500">
      Press
      <kbd class="px-2 py-0.5 text-xs font-medium text-gray-800 bg-gray-100 border border-gray-200 rounded-lg">
        e</kbd> to show/hide commits
    </p>
  </div>

  <%= render LiveRelease::CommitsComponent.new(commits) %>
</section>
