<section>
  <div class="flex justify-between items-center">
    <%= render partial: "shared/live_release/section_title", locals: { heading: "Commits after release kick-off", subheading: nil } %>

    <p class="text-xs text-secondary">
      Press
      <kbd class="px-2 py-0.5 text-xs font-medium text-main bg-main-100 border border-main-200 rounded-lg">
        e</kbd> to show/hide commits
    </p>
  </div>

  <%= render LiveRelease::CommitsComponent.new(commits) %>
</section>
