<% if commit.pull_request.present? %>
  <div class="flex flex-row items-center gap-x-2">
    <%= image_tag("git_pull_request.svg", width: 20, class: "inline-flex") %>
    <span class="font-normal text-xs">
                  <%= link_to_external("##{commit.pull_request.number}", commit.pull_request.url, class: "underline") %>
                </span>
    <%= pull_request_badge(commit.pull_request) %>
  </div>
<% end %>

<% if commit.backmerge_failure? %>
  <%= status_badge("automatic backmerge failed", :inert) %>
<% end %>
