<% ring_color = step_color(step.kind) %>

<div class="flex items-center">
  <% if step_run&.in_progress? %>
    <span class="w-4 h-4 mt-2 mr-1 bg-indigo-100 rounded-full animate-ping ring-2"></span>
  <% elsif step_run&.blocked? %>
    <span class="w-6 h-6 bg-amber-100 rounded-full ring-2 ring-amber-500"></span>
  <% elsif step_run&.done? %>
    <span class="w-6 h-6 bg-green-100 rounded-full ring-2 ring-green-500 text-white"></span>
  <% elsif step_run&.failed? %>
    <span class="w-6 h-6 bg-rose-100 rounded-full ring-2 ring-rose-500"></span>
  <% else %>
    <span class="w-6 h-6 rounded-full ring-2 ring-<%= ring_color %>-300"></span>
  <% end %>
</div>
