<span class="flex absolute -left-5 justify-center items-center w-9 h-6 bg-white rounded-full ring-8 ring-white"></span>
<span class="inline-flex absolute -left-5 justify-center items-center w-9 h-6 bg-white rounded-full ring-2 ring-gray-300"></span>
