<section>
  <span class="font-bold text-2xl">Pre-release PRs</span>

  <% if pre_release_prs&.exists? %>
    <%= render partial: "releases/live_release/pull_requests", locals: { prs: pre_release_prs } %>
  <% else %>
    <div class="text-sm mt-4">
      None.
    </div>
  <% end %>
</section>
