<section>
  <div class="flex">
    <h3 class="font-bold text-xl">Pre-release PRs</h3>
  </div>

  <% if pre_release_prs&.exists? %>
    <div class="grid grid-cols-2 gap-3 mt-3">
      <% pre_release_prs.each do |pr| %>
        <%= render partial: "releases/live_release/pull_request", locals: { pr: pr } %>
      <% end %>
    </div>
  <% else %>
    <div class="text-sm mt-4">
      None.
    </div>
  <% end %>
</section>
