<section>
  <div class="flex">
    <h3 class="font-bold text-xl">Pre-release PRs</h3>
  </div>

  <% if pre_release_prs&.exists? %>
    <%= render partial: "releases/live_release/pull_requests", locals: { prs: pre_release_prs } %>
  <% else %>
    <div class="text-sm mt-4">
      None.
    </div>
  <% end %>
</section>
