<% ring_color = step_color(step_run&.step&.kind || "release") %>

<div class="flex items-center">
  <% if step_run&.in_progress? %>
    <span class="w-6 h-6 bg-amber-600 rounded-full animate-pulse ring-2 ring-<%= ring_color %>-300"></span>
  <% elsif step_run&.done? %>
    <span class="w-6 h-6 bg-emerald-600 rounded-full ring-2 ring-<%= ring_color %>-300 text-white"></span>
  <% elsif step_run&.failed? %>
    <span class="w-6 h-6 bg-rose-600 rounded-full ring-2 ring-<%= ring_color %>-300"></span>
  <% else %>
    <span class="w-6 h-6 bg-white rounded-full ring-2 ring-<%= ring_color %>-300"></span>
  <% end %>
</div>
