handled well

<p class="mt-2">
  <%= cookies[:sso_session_token] %>
</p>

<p class="mt-2">
  <%= cookies[:sso_refresh_token] %>
</p>

<p class="mt-2">
  <%= @user_data %>
</p>

<p class="mt-2">
  <%= @jwt_response %>
</p>
