<%= render V2::FormComponent.new(model: [app, train, train.releases.new],
                                 url: app_train_releases_path(app, train),
                                 free_form: true) do |form| %>

  <div data-controller="reveal">
    <%= render V2::OptionCardsComponent.new(form: form.F, options: release_options) %>

    <div class="mt-2" hidden data-reveal>
      <%= form.F.labeled_text_field :custom_release_version,
                                    "Version Name",
                                    autocomplete: "off",
                                    placeholder: "Eg. 1.1.2" %>
    </div>
  </div>

  <% form.with_action do %>
    <%= form.F.authz_submit "Start", "zap.svg" %>
  <% end %>
<% end %>
