<% content_for :errors do %>
  <main>
    <div class="px-4 sm:px-6 lg:px-8 py-8 w-full max-w-9xl mx-auto">
      <div class="max-w-2xl m-auto mt-16">
        <div class="text-center px-4">
          <div class="inline-flex mb-8">
            <%= image_tag("tram_aesthetic.png", width: 300, alt: "#{@code}", class: "rounded-sm") %>
          </div>

          <div class="mb-6"><%= @content %></div>

          <a href="/" class="btn bg-indigo-500 hover:bg-indigo-600 text-white">Go back</a>
        </div>
      </div>
    </div>
  </main>
<% end %>
