<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type'/>
</head>
<body>

<p>This is an automated message from Tramline.</p>

<p>
  <%= @user.preferred_name %>, the train <%= @train_name %>, has kicked off at <%= @was_run_at %>.
</p>

<p>Thank you for testing with us.</p>

</body>
</html>
