<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type'/>
</head>
<body>

<h1>Hi from tramline.dev, your automaton finished running, <%= @user.preferred_name %></h1>
<p>
  successfully ran at <%= @was_run_at %>
</p>

<p>Thank you for testing with us.</p>

</body>
</html>
