<section class="max-h-96 h-44">
  <div class="mb-4">
    <span class="font-bold text-2xl">Kick-off</span>
    <span class="text-xl text-slate-400 ml-4"><%= time_ago_in_words(release.created_at) %> ago</span>
  </div>

  <%= render MetaTableComponent.new do |mt| %>
    <% mt.with_description("Branching Strategy") do %>
      <%= release_train.branching_strategy_name %>
    <% end %>

    <% mt.with_description("Release Branch") do %>
      <span class="underline"><%= link_to_external "#{release.branch_name} ↗", release.branch_url %></span>
    <% end %>
  <% end %>
</section>
