<% release_metadata = release.release_metadata %>

<section class="max-h-96 h-44">
  <div class="flex justify-between items-center mb-3">
    <span class="font-bold text-2xl">Release Metadata</span>
    <%= authz_link_to (release.metadata_editable? ? :neutral : :disabled), "Edit", edit_release_release_metadatum_path(release) %>
  </div>

  <%= render MetaTableComponent.new do |mt| %>
    <% mt.with_description("Release Notes") do %>
      <%= simple_format release_metadata.release_notes %>
    <% end %>

    <% unless is_android %>
      <% mt.with_description("Promotional Text") do %>
        <%= simple_format release_metadata.promo_text %>
      <% end %>
    <% end %>
  <% end %>
</section>
