<% if editable %>
  <div class="p-1">
    <% if step.release_platform.active_run.blank? %>
      <%= authz_link_to :neutral, edit_app_train_platform_step_path(step.app, step.release_platform.train, step.release_platform, step) do %>
        <%= inline_svg("edit.svg", classname: "w-4") %>
      <% end %>
    <% else %>
      <div class="flex self-end">
        <button class="btn bg-indigo-500 hover:bg-indigo-600 text-white disabled:border-slate-200 disabled:bg-slate-100 disabled:text-slate-400 disabled:cursor-not-allowed shadow-none" disabled="disabled">
          <%= inline_svg("edit.svg", classname: "opacity-80 w-4") %>
        </button>
      </div>
    <% end %>
  </div>
<% end %>
