<%= render V2::SimpleTabComponent.new(groups: ["Configure Android", "Configure iOS"]) do |component| %>
  <% [selected_platform, other_platform].compact.each do |platform| %>
    <% component.with_tab do %>
      <div class="mt-8">
        <span class="text-sm font-bold"><%= platform %></span>
        <textarea class="w-full h-96" disabled="disabled"><%= JSON.pretty_generate(platform.platform_config.as_json) %></textarea>
      </div>
    <% end %>
  <% end %>
<% end %>
