<%= render InfoIconComponent.new do %>
  <p>
    You can add workflow parameters. Each parameter has a key and value.
    These parameters will be passed on to the workflow verbatim.
  </p>
<% end %>
<p class="text-xs font-medium text-secondary">Custom workflow parameters (optional)</p>
