<%= render InfoIconComponent.new do %>
  <p>
    If you want to distinguish the build's version name, you can assign a suffix. For example, a suffix "staging" will
    generate a version name of 1.3.0-staging. This is <strong>not</strong> allowed for iOS builds. Only Android.
  </p>
<% end %>
