<%= developer_commentary do %>
  <p>
    This is managed by <a href="https://github.com/huacnlee/rails-settings-cached">rails_settings_cached</a>.
    I'm thinking of continuing to not use <a href="https://github.com/jnunemaker/flipper">flipper</a> for admin-controlled application settings.
    That way, the purpose of the two is clear.
    Plus <em>rails_settings_cached</em> has a neat DSL for using it as an app-local and thread-local constant.
    <p>- kit</p>
  </p>
<% end %>

<h2>Application Settings</h2>

<a href="/flipper">Flipper</a>
<a href="/sidekiq">Sidekiq</a>
<a href="/letter_opener">Letter Opener</a>
