  <div class="col-span-1 my-4">
    <%= render FilterButtonComponent.new(
      name: "Completed",
      on: filters.dig(:release_status, :is_on),
      path: search_app_path(app),
      method: :get,
      filter_params: get_query_filter(:release_status),
      query_params: all_releases_params) %>
  </div>

  <% if releases.present? %>
    <%= render AllReleasesTableComponent.new(
      releases: releases,
      paginator: pagy,
      query_params: all_releases_params) %>
    <footer>
      <div class="text-sm text-slate-400">† All timestamps shown are in the timezone configured for the app.</div>
    </footer>
  <% else %>
    <%= render EmptyStateComponent.new(
      title: "No releases found",
      text: "Try a different search term or filter.",
      banner_image: "drill.svg",
      type: :subdued) %>
  <% end %>