<p>
  If the build number is managed by Tramline, the <strong>build number</strong> must be the same or higher than
  the build number of the last build you deployed to the store.
</p>
<p>
  If it is managed externally, the <strong>build number</strong> is assumed to be supplied by the CI workflow and
  Tramline will subsequently find it against the workflow number.
</p>
