<% breadcrumb :all_builds, @app %>

<div class="sm:flex sm:justify-between sm:items-center mb-4">
  <div class="mb-4 sm:mb-0">
    <h1 class="text-2xl md:text-3xl text-slate-800 font-bold">All Builds 🛠️</h1>
  </div>
</div>

<div class="border-t border-slate-200">
  <div class="grid grid-cols-2 mt-8">
    <div class="col-span-1 w-1/2">
      <%= render SearchBarComponent.new(
        path: all_builds_app_path(@app, *@all_builds_params),
        placeholder: "Search by version code or name",
        value: params[:search_pattern],
        turbo_frame: "all_builds") %>
    </div>

    <%= tag.turbo_frame id: "all_builds", target: "_top", data: { turbo_action: "advance" }, class: "col-span-full" do %>
      <% if @builds.present? %>
        <div class="justify-end sm:justify-end my-4">
          <%= render FilterButtonComponent.new(
            name: "Completed",
            on: @filters.dig(:release_status, :is_on),
            path: all_builds_app_path(@app),
            method: :get,
            filter_params: get_query_filter(:release_status),
            query_params: @all_builds_params) %>
        </div>

        <%= render AllBuildsTableComponent.new(
          builds: @builds,
          paginator: @pagy,
          query_params: @all_builds_params,
          sort_column: @sort_column,
          sort_direction: @sort_direction) %>

        <footer>
          <div class="text-sm text-slate-400">† All timestamps shown are in the timezone configured for the app.</div>
        </footer>
      <% else %>
        <p class="text-lg text-slate-400 my-4">No builds found</p>
      <% end %>
    <% end %>
  </div>
</div>

