<%= turbo_frame_tag :new_app_form do %>
  <div class="flex justify-end mb-2">
    <%= link_to "Search your app", new_via_search_apps_path, class: "underline hover:cursor-pointer text-xs" %>
  </div>
  <%= render partial: "apps/form", locals: {app: new_app} %>
<% end %>
