<div class="flex flex-row">
  <div class="basis-1/4">
    <%= g.text_field :name, class: 'form-input w-full' %>
  </div>
  <div class="basis-2/4">
    <%= g.select :member_ids, 
      options_for_select(@organization_members,
                         g.object.members.pluck(:id)
                        ), 
                        {}, 
                        { multiple: true, class: 'js-choice' } %>
  </div>
  <div class="basis-1/4">
    <%= g.check_box '_destroy' %>
 </div>
</div>

