@tailwind base;
@tailwind components;

/* new styles */

@layer utilities {
  .bg-diagonal-stripes {
    background: repeating-linear-gradient(
      45deg,
      rgb(255, 255, 255) 0px,
      rgb(255, 255, 255) 3px,
      rgb(240, 240, 240) 3px,
      rgb(240, 240, 240) 8px
    );
  }
}

turbo-frame.with-turbo-frame-loader {
  display: block;
}

turbo-frame.with-turbo-frame-loader .turbo-frame-loader {
  display: none;
}

turbo-frame.with-turbo-frame-loader[busy] > .turbo-frame-loader {
  opacity: 1;
  display: block;
}

turbo-frame.with-turbo-frame-loader[busy] > *:not(.turbo-frame-loader) {
  opacity: .2;
}

.box-padding {
  @apply p-4;
}

.border-default {
  @apply border border-main-200 dark:border-main-600 rounded-lg;
}

.border-default-b {
  @apply border-b border-main-200 dark:border-main-600;
}

.heading-1 {
  @apply text-2xl font-semibold tracking-wide text-main dark:text-white;
}

.heading-2 {
  @apply text-xl font-semibold tracking-wide text-main dark:text-white;
}

.heading-3 {
  @apply text-lg font-medium tracking-normal text-main dark:text-white;
}

.heading-4 {
  @apply text-base font-medium tracking-normal text-main dark:text-white;
}

.heading-5 {
  @apply text-xs font-medium tracking-normal text-main-600 dark:text-white;
}

.ss-main {
  padding: 0 0.625rem 0 0.625rem !important;
}

.ss-main > .ss-single-selected  {
  @apply bg-main-50 !important;
  border: none !important;
  height: 2.625rem !important;
}

.ss-main > .ss-multi-selected  {
  @apply bg-main-50 px-1 py-1 !important;
  border: none !important;
}

/* new styles */

/* Override color of turbo progress bar */
.turbo-progress-bar {
  background-color: orangered;
  height: 4px;
}

.emphasize {
  @apply inline-block pr-1.5 pl-1.5 py-0;
  @apply rounded-md;
  @apply bg-main-200 text-slate-700;
}

.emphasize-link {
  @apply underline;
  @apply inline-block pr-1.5 pl-1.5 py-0;
  @apply rounded-md;
  @apply bg-main-200 text-slate-700;
}

/* Application theme starts here */
.form-select {
  @apply pr-10;
}

.form-checkbox,
.form-radio {
  @apply text-indigo-500 border border-slate-300;
}

/* Typography */
.h1 {
  @apply text-4xl font-extrabold tracking-tighter;
}

.h2 {
  @apply text-3xl font-extrabold tracking-tighter;
}

.h3 {
  @apply text-3xl font-extrabold;
}

.h4 {
  @apply text-2xl font-extrabold tracking-tight;
}

@screen md {
  .h1 {
    @apply text-5xl;
  }

  .h2 {
    @apply text-4xl;
  }
}

/* Buttons */
.btn,
.btn-lg,
.btn-sm,
.btn-xs {
  @apply font-normal text-sm inline-flex items-center justify-center border border-transparent rounded leading-5 shadow-sm transition duration-150 ease-in-out;
}

.btn {
  @apply px-3 py-2;
}

.btn-lg {
  @apply px-4 py-3;
}

.btn-sm {
  @apply px-2 py-1;
}

.btn-xs {
  @apply px-2 py-0.5;
}

/* Forms */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  -webkit-appearance: none;
}

.form-input,
.form-textarea,
.form-multiselect,
.form-select,
.form-checkbox,
.form-radio {
  @apply text-sm text-slate-800 bg-white border;
}

.form-input,
.form-textarea,
.form-multiselect,
.form-select,
.form-checkbox {
  @apply rounded;
}

.form-input,
.form-textarea,
.form-multiselect,
.form-select {
  @apply leading-5 py-2 px-3 border-slate-200 hover:border-slate-300 focus:border-indigo-300 shadow-sm;
}

.form-input,
.form-textarea {
  @apply placeholder-slate-400;
}

/* Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.form-input,
.form-textarea,
.form-multiselect,
.form-select,
.form-checkbox,
.form-radio:focus{
  @apply ring-0;
}

/* Switch element */
.form-switch {
  @apply relative select-none;
  width: 44px;
}

.form-switch label {
  @apply block overflow-hidden cursor-pointer h-6 rounded-full;
}

.form-switch label > span:first-child {
  @apply absolute block rounded-full;
  width: 20px;
  height: 20px;
  top: 2px;
  left: 2px;
  right: 50%;
  transition: all .15s ease-out;
}

.form-switch input[type="checkbox"]:checked + label {
  @apply bg-indigo-500;
}

.form-switch input[type="checkbox"]:checked + label > span:first-child {
  left: 22px;
}

.form-switch input[type="checkbox"]:disabled + label {
  @apply cursor-not-allowed bg-slate-100 border border-slate-200;
}

.form-switch input[type="checkbox"]:disabled + label > span:first-child {
  @apply bg-slate-400;
}

/* Application theme ends here */

.pagy-info {
    @apply text-sm text-slate-500 sm:text-left mt-2
}

.page.next a {
    @apply inline-flex items-center justify-center rounded leading-5 px-2.5 py-2 bg-white hover:bg-indigo-500 border border-slate-200 text-slate-600 hover:text-white shadow-sm
}

.page.prev a {
    @apply inline-flex items-center justify-center rounded leading-5 px-2.5 py-2 bg-white hover:bg-indigo-500 border border-slate-200 text-slate-600 hover:text-white shadow-sm
}

.page.next.disabled {
  @apply inline-flex items-center justify-center rounded leading-5 px-2.5 py-2 bg-white border border-main-300 bg-slate-200 text-main-500 shadow-sm
}

.page.prev.disabled {
    @apply inline-flex items-center justify-center rounded leading-5 px-2.5 py-2 bg-white border border-main-300 bg-slate-200 text-main-500 shadow-sm
}

.page a, .page.gap {
    @apply inline-flex items-center justify-center leading-5 px-3.5 py-2 bg-white hover:bg-indigo-500 border border-slate-200 text-slate-600 hover:text-white shadow-sm
}

.page.active {
    @apply inline-flex items-center justify-center leading-5 px-3.5 py-2 bg-white border border-slate-200 text-indigo-500
}

@tailwind utilities;
