.developer-commentary {
  padding: 1em;
  background-color: #F2ECCE;
  color: #261B23;
  margin: 2em 0 1em 0;
  border-radius: 1em;
  opacity: 0.5;
}

.title {
  text-decoration: none;
  color: inherit;
}