<% breadcrumb :release, @release %>

<div class="flex mt-4 mb-4">
  <h2 class="font-bold text-2xl">Notable Events</h2>
</div>

<div>
  <ul class="my-1">
    <% @events.each do |passport| %>
      <li class="flex px-2">
        <div class="grow flex items-center border-b border-slate-100 text-sm py-2">
          <div class="grow flex justify-between">

            <div class="self-center">
              <%= passport.message %>
            </div>

            <div class="shrink-0 self-end ml-2">
              <span class="font-medium text-indigo-500 hover:text-indigo-600">
                <%= passport.created_at.strftime("%I:%M%p –– %d/Sept/%y") %>
              </span>
            </div>
          </div>
        </div>
      </li>
    <% end %>
  </ul>
</div>
