<%= render PageComponent.new(breadcrumb: breadcrumb(:timeline_release, @release), title: "Event Timeline") do %>
  <div class="grid grid-cols-2 gap-x-2">
    <% @release.release_platform_runs.each do |prun| %>
      <div>
        <div class="text-2xl mb-2"> <%= prun.release_platform.display_attr(:platform) %></div>
        <%= render EventTimelineComponent.new(events: prun.events) %>
      </div>
    <% end %>
  </div>
<% end %>
