<%= render V2::ContainerComponent.new(title: "Release Activity") do |container| %>
  <% container.with_back_button(to: "the release", path: release_path(@release)) %>
  <% container.with_body do %>
    <turbo-frame id="events" data-turbo-action="replace">
      <% if @app.cross_platform? %>
        <div class="grid grid-cols-2 text-xl text-slate-600">
          <div class="justify-self-start">
            <%= render FilterButtonComponent.new(
              name: "Android",
              on: @filters.dig(:android_platform, :is_on),
              path: timeline_release_path(@release),
              method: :get,
              filter_params: get_query_filter(:android_platform),
              query_params: @events_params) %>
          </div>

          <div class="justify-self-end">
            <%= render FilterButtonComponent.new(
              name: "iOS",
              on: @filters.dig(:ios_platform, :is_on),
              path: timeline_release_path(@release),
              method: :get,
              filter_params: get_query_filter(:ios_platform),
              query_params: @events_params) %>
          </div>
        </div>
      <% end %>

      <%= render EventTimelineComponent.new(app: @app, events: @events) %>
    </turbo-frame>
  <% end %>
<% end %>
