<% breadcrumb :release, @release %>

<div class="sm:flex sm:justify-between sm:items-center pb-8 border-b border-slate-200">
  <p class="text-2xl md:text-3xl text-slate-800 font-bold">Event Log</p>
</div>

<section>
  <ul class="mt-6">
    <% @events.each do |passport| %>
      <li class="flex px-2">
        <div class="grow flex items-center border-b border-slate-100 text-sm py-2">
          <div class="grow flex justify-start">
            <div>
              <span class="font-medium text-stone-500">
                <%= passport.event_timestamp.strftime("%b #{passport.event_timestamp.day.ordinalize} at %-l:%M %P") %>
              </span>
            </div>

            <span class="text-xs inline-flex font-medium <%= passport_badge(passport) %> rounded-full text-center ml-2 px-2 py-1">
              <%= image_tag("#{passport_icon(passport)}.svg", width: 20, class: "inline-flex") %>
            </span>

            <div class="self-center ml-5 text-slate-800">
              <%= raw passport.message %>
            </div>
          </div>
        </div>
      </li>
    <% end %>
  </ul>
</section>
