<%= render V2::SectionComponent.new(title: "Build insights", style: :titled, size: :compact) do %>
  <%= render V2::AccordionComponent.new do |accordion| %>
    <% accordion.with_title_section do %>
      <h5 class="heading-5-sc">Metadata trend</h5>
    <% end %>
    <% if builds.size > 1 %>
      <%= render V2::BuildHealthComponent.new(release_platform_run: run, builds:) %>
    <% else %>
      <%= render V2::EmptyStateComponent.new(
        title: "No build metadata trend to show",
        text: "As you add more builds to Tramline, the trend of their metadata will be displayed here.",
        banner_image: "v2/drill.svg",
        type: :subdued) %>
    <% end %>
  <% end %>
<% end %>
