<% items.each do |item| %>
  <button
    tabindex="0"
    class="flex items-center w-full hover:bg-slate-50 py-1 px-3 cursor-pointer">

    <% if item.selected %>
      <svg class="shrink-0 mr-2 fill-current text-indigo-500" width="12" height="9" viewBox="0 0 12 9">
        <path d="M10.28.28L3.989 6.575 1.695 4.28A1 1 0 00.28 5.695l3 3a1 1 0 001.414 0l7-7A1 1 0 0010.28.28z"/>
      </svg>
    <% end %>

    <span><%= item %></span>
  </button>
<% end %>
